---
---

@import 'foundation';
@include foundation-everything;
@import 'syntax-highlighting';

header{

  .top-bar {
    border-bottom: 1px solid $primary-color;
    .menu-icon::after {
      background-color: $primary-color;
      box-shadow: 0 7px 0 $primary-color,0 14px 0 $primary-color;
    }
  }

  .top-bar-title {
    svg {
        fill: $secondary-color;
        margin-bottom: -6px;
        border-radius: 50%;
        background-color: $primary-color;
    }

  }
}

main {
  @include grid-row;
  article {
    header, div:first { 
      @include grid-column(12);
    }
  }


  padding : {
    left: 20px;
    right: 20px;
  }
  ul {
		list-style-type: none;
  }
  pre
  {
  	padding: 0 0 0 15px;
  	background-color: lightgray;
    code
	  {
	  	border: none;
	  	background-color: inherit;
	  }
  }

  code
  {
  	border: none;
  }

}

.icon {
  svg{
    fill: $primary-color;
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: $success-color;
  }

}

.icon-lg {
    svg{
    fill: $primary-color;
    height:50px;
    width:50px;
  }
}

footer {
  padding: 20px;
  background-color: black;
  color: white;
}

